<style>
  #fent {position:static; top: 0px;  left: 0px; height:40px;  width: 200px; 
       }     
  #bal {position:absolute; top: 100px;  left: 100px;  width: 200px; margin-left: 300px;} 

  #jobb { position:absolute; top:100px; right:0px; width:200px; margin-right: 300px;} 

  #lent {position:static; top: 600px;  left: 600px; height:40px;  width: 200px; 
</style> 